@model List<BookListViewModel>

<h3>Kitap Listesi</h3>

@if (User.Claims.FirstOrDefault(x => x.Type == "id")?.Value != null)
{


    <div class="mb-3">
        @foreach (var book in Model)
        {
            <div class="card">
                <div class="card-header fw-bold">
                    @book.Title
                </div>
                <div class="card-body">
                    <h6 class="card-title">@book.AuthorName</h6>


                    <p class="card-text">@book.Genre</p>
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id" class="btn btn-info">Detay</a>
                    <a asp-controller="Book" asp-action="Edit" asp-route-id="@book.Id" class="btn btn-secondary">Düzenle</a>
                    <a asp-controller="Book" asp-action="ConfirmDelete" asp-route-id="@book.Id" class="btn btn-danger">Sil</a>


                </div>
            </div>

        }



    </div>
    <div>
        <a asp-controller="Book" asp-action="Create" class="btn btn-success fw-bold mb-3">Yeni Ekle</a>
    </div>
}